<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="myConnection" connectionString="metadata=res://*/SGML.csdl|res://*/SGML.ssdl|res://*/SGML.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANDRE-PC;initial catalog=ML645-05037;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SGML.Properties.Settings.ML645_05037ConnectionString"
      connectionString="Data Source=ANDRE-PC;Initial Catalog=ML645-05037;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SGML.Properties.Settings.ML645_05037ConnectionString1"
      connectionString="Data Source=CABANONS00006V;Initial Catalog=ML645-05037;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SGML.Properties.Settings.ML645_05037ConnectionString2"
      connectionString="Data Source=CABANONS00006V;Initial Catalog=ML645-05037;User ID=Python;Password=pyt123;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>